<html>
<head>
    <style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; height: 100%;
    }
    #button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    </style>
</head>
<body>
        <img style="-webkit-user-select: none;margin: auto;" src="{{ url_for('static', filename='SiiP.JPG')}}">
    <div id="button"><button id= "AddUser" type="button" onclick="window.location.href='{{ url_for('sign_up') }}';">Add Users</button>
    <button id= "AddDrink" type="button" onclick="window.location.href='{{ url_for('drinks') }}';">Add Drinks</button></div>
</body>
</html>